# Ignore everything
*

# Allow directories (so we can access nested .py files)
!*/

# Allow Python files
!*.py

# Allow this .gitignore file
!.gitignore
!README.md
!docs/processing_genomics_overview.png